.App {
  text-align: center;
  background-color: #f6f8fc;
  height: 100%;
  padding-bottom: 10em;
}

.carousel-indicators {
  display: none !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ABox {
  margin-top: 60px;
}
.middle-card {
  margin: 230px 0;
}


@media screen and (max-width: 990px) {
  .ABox {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .ABox {
    margin-top: 0px;
  }
  .middle-card {
    margin: 100px 0;
  }
}
